# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Pura2020Dec.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\burak\OneDrive\Desktop\Pura2020Dec\.idea\.idea.Pura2020Dec\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
